@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,400;1,700&display=swap');

@import './_variables.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  background: var(--natural-50);
  color: var(--natural-900);
}
button,
input {
  font-family: 'Nunito', sans-serif;
  color: var(--natural-900);
  border: 0px;
}
input:focus {
  outline: none;
}
